<div class = "container">
  <%= form_for Issue.new, url: preview_issues_path do |f| %>
  <%= f.label :category %>
  <%= f.select :category, options_for_select(%w[SelectOne nokia samsung  blackberry],:disabled => ["Select One"]) %><br>

  <%= f.label :sevirity %>&nbsp&nbsp
  <%= f.select :severity, options_for_select(%w[Critical Major Moderate Minor Cosmetic]) %><br>

  <%= f.label :priority %>&nbsp&nbsp
  <%= f.select :prority, options_for_select(%w[Low Medium High]) %><br>


  <%= f.label :issue_type %>
  <%= f.select :issue_type, options_for_select(%w[Display Battery Charging Software ]) %>&nbsp
  <br><br>

  <%= f.text_area :issue_box, :rows => 5, :cols => 50 %><br><br>
  <!--<%= f.select :issue_box, options_for_select(%w[nokia samsung  blackberry]) %><br>-->
  <%=f.submit "submit"%>
  <!--<div class="actions"><br>
      <%= f.submit "submit", class:"btn btn-lg btn-primary btn-block" %>

    </div>-->
  <% end %>
</div>
